
<div class="page">
  <div class="container">

    <ul class="main-navigation">
      <img class="logo" src="/assets/images/partnero.png" alt="">

      <li style="margin-left: 200px;" class="list" (click)="changeRoute('/')"><a>Home</a> </li>

      <li class="list"><a>Resources</a></li>
      <li class="list"><a>About Us</a></li>
      <li class="list"><a>Contact Us</a></li>
      <li><a> <button>Sign In</button> </a></li>

    </ul>
   <div class="top-section">

    <div class="top-text">
     <div class="text"> Resource Management, </div>
     <div class="text"> Made Easy</div>
     <div class="text-sub" style="margin-top:10px ;">Welcome to our resources management platform, where you’re</div>
     <div class="text-sub">able to access our resource files in the form of PDF, .zip file,</div>
     <div class="text-sub"> HTML snippet or any image.</div>

     <div class="btn">
      <li><a> <button>Get Started</button> </a></li>
      <li><a> <button class="btn2">Learn More</button> </a></li>
     </div>

     <div class="banner-section">
       <img  src="/assets/images/admin.png" alt="">
     </div>

    </div>

   </div>

   <div class="middle-section">

    <div class="top-text">
     <div class="header-mid" style="margin-top: 10px">Discover The Full Power of  </div>
     <div class="header-mid">Partnero Resource Manager</div>
     <div class="text-mid" style="margin-top:10px ;">World-class experts worked with award-winning technologies to </div>
     <div class="text-mid"> create the best resource management platform.</div>

     <div class="resource-image">
     <img src="/assets/images/discover.png" alt="">
     </div>

    </div>
     <div class="header">


     </div>
   </div>

   <div class="bottom-section">

    <div class="bottom-text">
     <div class="header-bottom">Get access to all the </div>
     <div class="header-bottom">Resource files in our system.</div>
     <div class="text-bottom" style="margin-top:10px ;">World-class experts worked with award-winning technologies to </div>
     <div class="text-bottom"> create the best resource management platform.</div>



    </div>
   </div>
   <div class="footer">
    <div class="footer-sub">
      <div class="text-footer">Contact Us</div>
      <div class="text-footer"> Privacy Policy</div>
    </div>

    <div class="text-footer" style="margin-top:200px ;"> 2022 © Partnero. All rights reserved. </div>

  </div>
  </div>
</div>
